*{margin: 0; padding: 0; 
    /* outline: 1px solid tomato; */
}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

h1{
    color: #252525;
    text-align: center;


}

.carModel{
    background-color: red;
    width: 100vh;
}

canvas{
    position: absolute;
    
    top: 0;
    left: 0;
    scale: 0.7;
    
    border-radius: 10%;
    border: rgb(248, 0, 0) ridge 12px;
    transition: all 1s ease-in;

}

canvas:hover{
    border-radius: 15% 40% / 15% 40%;
    
}